# Conditional Statements

In [2]:
a = 20
if a==20:
    print(f"the number is {a}")
else:
    print(f"the number is not 20")

the number is 20

In [5]:
 d ={'Name':'Steve', 'Age':30, 'Designation':'Programmer'}
length = sum(1 for i in d)
print(length)

3

# For Loop

# For loop with list

In [8]:
mylist = [1,2,3,4,5,6,]
for item in mylist:
    print(item)

1
2
3
4
5
6

## For loop with dictonary

In [7]:
d = {
    "person1": {"name": "John", "age": 25},
    "person2": {"name": "Alice", "age": 30},
    "person3": {"name": "Bob", "age": 22}
}

for key in d:
    print(key)

person1
person2
person3

In [14]:
#If You Want to Print Key-Value Pairs:
#Modify the loop to print both keys and values:

for key, value in d.items():
    print(f"{key} -> {value}")

person1 -> {'name': 'John', 'age': 25}
person2 -> {'name': 'Alice', 'age': 30}
person3 -> {'name': 'Bob', 'age': 22}

In [15]:
for key, value in d.items():
    print(f"{key} -> {value['name']}")

person1 -> John
person2 -> Alice
person3 -> Bob

In [18]:
#In Python, .items() is a dictionary method that returns a view object containing key-value pairs as tuples.
d.items() #returns

dict_items([('person1', {'name': 'John', 'age': 25}), ('person2', {'name': 'Alice', 'age': 30}), ('person3', {'name': 'Bob', 'age': 22})])

In [25]:
##interesting way to process items in dictonary with for loop

processed_data = {k:v['name'].upper() + "\n" for k,v in d.items()}
print(processed_data)

{'person1': 'JOHN\n', 'person2': 'ALICE\n', 'person3': 'BOB\n'}

## Use of pass , continue, break in for loop

In [9]:
# pass 

animalLookup = {
    'a':['aardvak','antelopwe'],
    'b':['bear'],
    'c':['cat'],
    'd':['dog'],
}
for letter,animal in animalLookup.items():
    pass

In [15]:
#continue / pass
for letter,animal in animalLookup.items():
    if len(animal) > 1:
        continue
    print(f"Only one animal {animal}")

Only one animal ['bear']
Only one animal ['cat']
Only one animal ['dog']

In [16]:
#break
for letter,animal in animalLookup.items():
    if len(animal) > 1:
        print(f"found {len(animal)} animals {animal}")
        break

found 2 animals ['aardvak', 'antelopwe']

# For / Else

In [17]:
for number in range(2,100):
    for factor in range(2, int(number**0.5) + 1):
        if number % factor == 0:
            break
    else: #this else is not for if statement it is against the for statement
        print(f"{number} is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime

# While Loop

In [7]:
from datetime import datetime
import time

while True:
    if datetime.now().second <= 10:
        print(datetime.now().second)
        time.sleep(1)
    else:
        break