In [5]:
###Quiz 2
# Change string `'Hello, User!'` to `'Hello, User'` by removing the exclamation mark

In [11]:
s = 'Hello, User!'

In [13]:
s.replace('!','')

'Hello, User'

In [15]:
s.strip('!')

'Hello, User'

In [23]:
string = 'happy learning'
# 1. Fetch "happy" from it
# 2. count number of n in string

In [25]:
# 1
string[:5]

'happy'

In [27]:
# 2
string.count("n")

2

In [37]:
l = ["iron man","avengers"]
# 1. first add a new movie at the last index -> "movie1"
# 2. add a new movie at the start of the list -> "movie0"

In [39]:
# 1)
l.append("movie1")
l

['iron man', 'avengers', 'movie1']

In [41]:
# 2
l.insert(0,"movie0")
l

['movie0', 'iron man', 'avengers', 'movie1']

In [45]:
my_list = ['Apple', 'Banana', 'Cherry', 'Durian', 'Elderflower']
# create a new list selection fruits where len = 6
# output : ['Banana', 'Cherry', 'Durian']
# use loops!

In [47]:
for i in my_list :
    print(i)

Apple
Banana
Cherry
Durian
Elderflower

In [49]:
for i in my_list :
    if len(i) == 6 : # fruits with length 6!
        print(i)

Banana
Cherry
Durian

In [51]:
nu = []
for i in my_list :
    if len(i) == 6 :
        nu.append(i)

In [53]:
print(nu)

['Banana', 'Cherry', 'Durian']

In [57]:
#  2) Write a loop to calculate the sum of all numbers in the list 
numbers = [1, 2, 3, 4, 5,6]
# # o/p : 21

In [61]:
for i in numbers :
    print(i)

1
2
3
4
5
6

In [67]:
numbers

[1, 2, 3, 4, 5, 6]

In [63]:
s = 0
for i in numbers :
    s = s + i

In [65]:
print(s)

21

In [69]:
# 1. s = s+i | s = 0 + 1 = 1
# 2. s = s+i | s = 1 + 2 = 3
# 3 + 3 = 6
# 6 + 4 = 10
# 10 + 5 = 15
# 15 + 6 = 21

In [75]:
#  2) Write a loop to calculate the sum of all numbers in the int
numbers = 123456
# # o/p : 21

In [77]:
for i in numbers:
    print(i)

TypeError: 'int' object is not iterable

In [79]:
for i in str(numbers) :
    print(i)

1
2
3
4
5
6

In [81]:
s = 0
for i in str(numbers) : 
    s = s + int(i)

In [83]:
print(s)

21

In [117]:
# Write a for loop to compute the product (multiply)
# of all **odd numbers** in a given list.
numbers = [1, 2, 3, 7 , 4, 5, 6]
# o/p : 7*5*3*1 = 105

In [105]:
for i in numbers : 
    print(i)

1
2
3
7
4
5
6

In [121]:
for i in numbers :
    if i%2 != 0 :
        print(i)

1
3
7
5

In [123]:
s= 1
for i in numbers :
    if i%2 != 0 :
        s = s*i

In [125]:
print(s)

105

In [131]:
# Q: Given a list of tuples where each
# tuple contains a product name and its price, 
# Write a code  that returns a
# list of products priced over 20.

products = [('pen', 3.50), ('notebook', 25),
            ('pencil', 2), ('bag', 50)]

# Output: [('notebook', 25), ('bag', 50)]

In [133]:
for i in products :
    print(i)

('pen', 3.5)
('notebook', 25)
('pencil', 2)
('bag', 50)

In [135]:
for i in products :
    print(i[1])

3.5
25
2
50

In [137]:
nu = []
for i in products :
    if i[1] > 20 :
        nu.append(i)

In [139]:
nu

[('notebook', 25), ('bag', 50)]

In [141]:
# Write a func given a  integer x, 
# return x with its digits reversed

# Example 1:
# x = 123
# Output: 321

# Example 2:
# x = -123
# Output: -321

In [184]:
x = -123
if x > 0 :
    print(int(str(x)[::-1]))
else :
    print(int(str(x)[1:][::-1])*-1)

-321

In [186]:
x = -123

In [196]:
int(str(x)[1:][::-1])*-1

-321

In [224]:
# Write a code that takes a 
# list of integers and returns the 
# first element that appears more than once. 
# If no element repeats, return None.

# first_repeated_element([1, 3, 2, 5, 3, 4])
# Output: 3

# first_repeated_element([1, 2, 5, 3, 4])
# Output: None

In [240]:
def cnt(x) :
    for i in x :
        if x.count(i) > 1:
            return i
    return None

In [242]:
print(cnt([1, 3, 2, 5, 3, 4]))

3

In [244]:
print(cnt([1, 3, 2, 5,4]))

None

In [248]:
print(cnt([1,2, 2,3,4,3,4,5,3,1]))

1

In [252]:
# for i in x : 
#     if x.count(i) > 1 :
#         print(i)
#     else :
#         print(None)

In [256]:
dct = {1:"data",2:"science"}
# o/p : {"data":1, "science":2}
# swap Key value pairs

In [262]:
for i in dct.items():
    print(i)

(1, 'data')
(2, 'science')

In [264]:
nudct = {}
for i in dct.items():
    nudct[i[1]] = i[0]

In [266]:
nudct

{'data': 1, 'science': 2}

In [268]:
# Write a code that takes a 
# dictionary containing player names and their scores,
# and a list of tuples where each tuple contains a
# player's name and points to add to their score.

player_scores =  {'Alice': 10, 'Bob': 8, 'Carol': 15}
updates       = [('Alice', 5), ('Bob', 2), ('Dave', 7)]

# O/P : {'Alice': 15, 'Bob': 10, 'Carol': 15, 'Dave': 7}

In [270]:
# 12,55 PM

In [272]:
# will upload the solution by 3 pm!!