In [19]:
# Which of the following is a valid variable name in Python?
# a) 1variable
# b) my_var --> CORRECT!
# c) my var
# d) my-var

In [27]:
my_var = 10

In [29]:
1variable = 10

SyntaxError: invalid decimal literal (724792690.py, line 1)

In [31]:
my var = 10

SyntaxError: invalid syntax (3057852973.py, line 1)

In [33]:
my-var = 10

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3345676153.py, line 1)

In [43]:
# 1.Write a Python program that calculates the remainder when 25 is divided by 7 and prints the result.
25 % 7

4

In [67]:
# 2.Take user input my_number and assign it the value 50.5 
# convert it to int.
my_number = float(input("Enter Number - "))

Enter Number -  50.5

In [69]:
my_number

50.5

In [71]:
type(my_number)

float

In [73]:
int(my_number)

50

In [76]:
# 3.Write a Python program to compute 3 raised to the power of 4 and print the result.
3**4

81

In [78]:
# 4. Convert the float number 456.78 into an integer and print both values (before and after conversion).
f = 456.78

In [80]:
f_int = int(f)
f_int

456

In [82]:
# 5.Write a Python program that takes two input as 
# string and then concatenate
in1 = input("Enter - ")

Enter -  hey

In [84]:
in2 = input("Enter - ")

Enter -  all

In [86]:
in1 + in2

'heyall'

In [88]:
in1 + " " + in2

'hey all'