# Practice Exercise

Question 1: Print a random integer between 100 and 135

In [3]:
# Import required libraries:
from random import seed
from random import randint

# Print a random integer in the given range:
s = randint(2,10)
print(s)

7

Question 2: Create a list consisting of first 10 even numbers.

In [4]:
# Create a list according to the given condition:
list([2,4,6,8,10])

[2, 4, 6, 8, 10]

Question 3: Create a list in the following manner: [birthyear, firstname, birthdate, lastname]

In [6]:
# Create a list according to the given condition:
list([1984,'Ujwal',24,'Abhishek'])

[1984, 'Ujwal', 24, 'Abhishek']

Question 4: Create a nested list which consist of 2 students and their scores in mathematics and english:

Students: Alex and Cody

Alex scores 97 and 95 in mathematics and english respectively,

Cody scores 89 and 92 in mathematics and english respectively.

The list should be such that it first stores the name of students followed by the subjects and then their scores in nested lists.

In [7]:
# Create a list according to the given condition:
list([
    ['Alex',['English',97],['maths',95]],
    ['Cody',['English',89],['maths',92]],
])

[['Alex', ['English', 97], ['maths', 95]],
 ['Cody', ['English', 89], ['maths', 92]]]

Question 5: Given below is a list, find out whether is has the letter 'k' in it and print the result as true or false.

In [9]:
# Given below is a list:
list3=[1,2,'r',7,'k',6,'o','h','d',5,9]

# Define the character you are searching for:

# print the result:
print('k' in list3)

True

Question 6: In the tuple given below, print the 3rd element.

In [15]:
# Given below is the tuple:
tuple1=(1,'hello','world','567')

# Print the 3rd element:
tuple1[2]

'world'

Question 7: Given below is a tuple. Sort the tuple and print the result.

In [16]:
# Given below is the tuple:
tuple2=(1,25,67,100,3,54)

# Sort the tuple:

# Print the result:
sorted(tuple2)

[1, 3, 25, 54, 67, 100]

Question 8: Given below is a list, convert into a set and print the output also print the length of the set.

In [18]:
# Given below is the list:
list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]

# Convert the list into set:
myset = set(list4)
# Print the result:
print(myset)
# Print the length of the set:
len(myset)

{1, 2, 3, 4, 5, 6, 7}

7

Question 9: Given below are two sets, perform the operations given below:
1. Print their union
2. Print their intersection
3. Print their difference
4. Print their symmetric difference

In [22]:
# Given below are two sets:
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}

# Print their union:
s = a.union(b)
print(s)
# Print their intersection:
s = a.intersection(b)
print(s)
# Print their difference:
s = a.difference(b)
print(s)
# Print their symmetric difference:
s = a.symmetric_difference(b)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{2, 3, 5}
{1, 6, 7}
{1, 4, 6, 7, 8, 9}

Question 10: Create a dictionary that stores the names and roll numbers of 5 students as given below:
1. Sam, 21
2. Cody, 12
3. Addy, 3
4. Zach, 45
5. Amy, 6

In [23]:
# Create a dictionary:
d = {'Sam':21,
        'Cody':12,
        'Addy': 3,
        'Zach': 45,
        'Amy': 6
    }
# Print the result:
d

{'Sam': 21, 'Cody': 12, 'Addy': 3, 'Zach': 45, 'Amy': 6}

Question 11: Due to admission of new students the roll number of zach has changed from 45 to 47. Make the required changes and print the new dictionary.

In [25]:
# Update the roll number:
d['Zach'] = 47

# Print the new dictionary:
d

{'Sam': 21, 'Cody': 12, 'Addy': 3, 'Zach': 47, 'Amy': 6}

Question 12: Sort the dictionary according to roll number.

In [26]:
# Sort and print the students roll number wise in ascending order:

AttributeError: 'dict' object has no attribute 'sort'

In [27]:
sorted(d)

['Addy', 'Amy', 'Cody', 'Sam', 'Zach']